@import url('https://fonts.googleapis.com/css?family=Merriweather|Montserrat:400,500,600|Sacramento&display=swap');
* {
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1{
    text-align: center;
    color:#ff6464;
    font-size: 5rem;
    margin-top: 24vh;
    font-family: 'Sacramento', cursive;
}
h2{
    padding: 0;
    margin: 0;
}
h2,h3{
    font-family: 'Montserrat', sans-serif;
}
hr{
    border: dotted #d8c0c0;
    border-bottom: none;
    width: 4%;
    margin: 10px auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

/* Hamburger menu */

nav {
    width: 100%;
    height: 60px;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.top-container{
    background: #01024e;
    position: relative;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}
.foreground>p{
    padding-bottom: 20px;
}
.foreground{
    position: absolute;
    width: 100%;
    height: 100%;
    
}

.sub-head{
    color:#ff6464;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    margin: 0;
}
.nav-list {
    display: flex;
    justify-content: flex-end;
    padding: 20px 0;
}

.nav-link {
    color: #fff;
    font-size: 1.5rem;
    padding: 0 10px;
}

.nav-link:hover {
    color: rgb(212, 184, 184);
    transition: 0.2s ease-in;
}

.profile>img{
    position: relative;
    width: 100px;
    margin: 50px  auto 10px;
}
.profile{
    width: 60%;
    margin:0 auto 40px;
    
}

.skills{
    /* background: #cbdedf; */
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
}
.skills h2{
    width: 100%;
}
.skill-row{
    background: #172d44;
    width: 20%;
    min-width: 200px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 5px;
    box-shadow: #203e5e 5px 5px 10px 1px;
}
.skill-row:hover{
    background: #32557a;
}
.skills-row ul li{
    border: 1px solid #bc5090;
}
.skill-row> img{
    width: 100px;
}
.contact-me{
    width: 60%;
    margin: 50px auto 0;
    padding-bottom: 40px;
}


.contact-me>p{
    padding-bottom: 40px;
}
.btn{
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    background: #ff6361;
    font-family: 'Montserrat', sans-serif;
}
.btn:hover{
    background: #bc5090;
}
.bottom-container{
    background: #396362;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}
.bottom-container> a{
    margin: auto 20px;
}
.projectsGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.project{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.project>.btn{
    width: 200px;
}

.project>img:hover{
    filter: brightness(80%);
}
#projects{
    padding: 20px 0;
}
#about{
    padding-top: 20px;
    background: #27496d;
    color: #fff;
}
@media(max-width:768px) {
    h1{
        font-size: 3.5rem;
    }
    h2,h3{
        font-size: 1.5rem;
    }
    .hamburger {
        width: 35px;
        height: 30px;
        position: fixed;
        right: 50px;
        top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        z-index: 2;
    }
    .line {
        width: 100%;
        height: 3px;
        background-color: #fff;
        transition: all 0.8s;
    }
    .change.line-1 {
        transform: rotateZ(-45deg) translate(-8px, 6px);
    }
    .change.line-2 {
        opacity: 0;
    }
    .change.line-3 {
        transform: rotateZ(45deg)translate(-8px, -6px);
    }
    .nav-list {
        background-color: rgba(26, 26, 26, 0.9);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
        right: -100vw;
        position: fixed;
        transition: 0.8s all;
        z-index: 1;
    }
    .change.nav-list{
        right: 0;
    }
    .skills{
        flex-direction: column;
    }
}

@media (max-width:930px){
    .projectsGrid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width:768px){
    .projectsGrid{
        display: grid;
        grid-template-columns: 1fr;
    }
}